main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  width: 60px;
  height: 60px;
}
